* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(315deg, #012169, #1877F2);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
}

.input-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 12px;
  outline: none;
}

#departure::after,
#arrival::after {
  content: " - ";
  color: gray;
}

#email {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 12px;
}

.passenger-info {
  text-align: center;
}

#passenger-btn {
  padding: 10px 20px;
  background-color: #1569d7;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 350px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.counter-btn {
  padding: 5px 10px;
  margin: 5px;
  border: none;
  background-color: #1569d7;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.passenger-info {
  text-align: left;
}

.passenger-info > div {
  display: flex;
  align-items: center;
}

.passenger-info label {
  width: 150px;
  text-align: right;
}

#businessClassCheckbox {
  vertical-align: middle;
  margin-left: 10px;
}

.modal-content h2 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 18px;
  padding: 5px;
}

#passenger-info {
  color: gray;
  margin-top: 10px;
}

#confirm-btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 10px 20px;
  background-color: #1569d7;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-content {
  height: 285px;
}

.modal-overlay {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-overlay .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 350px;
  height: 285px;
}

#suggestions {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
}

#suggestions {
  position: absolute;
  top: 90px;
  left: 20px;
  right: 20px;
  z-index: 1;
  border-radius: 12px; /* Добавляем закругление углов */
  overflow-y: auto;
  max-height: 200px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#suggestions li {
  cursor: pointer;
  padding: 8px 16px;
  background-color: #fff;
}

#suggestions li:hover {
  background-color: #f1f1f1;
}

#suggestions li span {
  color: gray;
}

.modal-overlay .modal-content {
  position: relative;
}

#suggestions {
  position: absolute;
  top: 90px; /* Отступ от верхней границы модального окна */
  left: 20px; /* Отступ от левой границы модального окна */
  right: 20px; /* Отступ от правой границы модального окна */
  z-index: 1; /* Убедитесь, что список подсказок находится поверх других элементов */
}

.modal-content {
  border-radius: 12px;
}
