* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #00BFFF;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.input-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.passenger-info {
  text-align: center;
  grid-column: span 2; /* Make the passenger info section span across both columns */
}

#passenger-btn {
  padding: 10px 20px;
  background-color: #00BFFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.airport-code {
  margin-left: 10px;
  color: #999;
  font-size: 0.8em; /* Decrease the font size as needed */
}

.container form {
  display: grid; /* Use CSS Grid for the form content */
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  grid-gap: 20px; /* Spacing between columns */
}
